*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f172a;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
